node_modules/
*.exe
*.exe~
*.dll
release-linux/
release-windows/
*.zip
logs/
zapi.log
zapi.pid
*.test
cmd/dbcheck/
cmd/dbcheck2/
cmd/dbcheck3/
cmd/dbcheck4/
cmd/dbfix/
cmd/dbfix2/
dist-linux/
cmd/dbget/
_*.js
_*.mjs
errlog-test*.mjs
vtest.mjs
test-all.*
